<div>

    <h2 translate="flipperApp.pictureFound.home.title">PictureFound</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-if="pictureFound">
                <img data-ng-src="{{'data:image/*;base64,' + pictureSearch.littlePictureFile}}" ng-if="pictureSearch.littlePictureFile"/>
                {{byteSize(pictureSearch.pictureFile)}}
            </div>
        </div>
    </div>

    <div class="container top25">
        <div class="row">
            <div ng-repeat="picture in pictureFounds">
                <div ng-if="$index % 3 == 0" class="clearfix"></div>
                <div class="col-xs-6 col-sm-4 col-md-4 portfolio-item">
                    <a ui-sref="pictureFound.detail({pictureSearch_id:picture.pictureSearch_id, picture_id:picture.picture_id})">
                        <img data-ng-src="{{'data:image/*;base64,' + picture.littlePictureFile}}"
                             alt="{{picture.title}}" class="img-thumbnail" ng-if="picture.littlePictureFile"/>
                    </a>

                    <h3><a ui-sref="pictureFound.detail({pictureSearch_id:picture.pictureSearch_id, picture_id:picture.picture_id})">{{picture.title | characters:20}}</a></h3>
                    <p>{{picture.owner}} {{picture.created}}</p>
                    <p>Total score: {{picture.totalScore}}</p><br/>
                        <span>Autocolor Correlogram: {{picture.autocolorCorrelogramScore}}</span><br/>
                        <span>CEDD: {{picture.ceddScore}}</span><br/>
                        <span>Color Histogram: {{picture.colorHistogramScore}}</span><br/>
                        <span>Color Layout: {{picture.colorLayoutScore}}</span><br/>
                        <span>Edge Histogram: {{picture.edgeHistogramScore}}</span><br/>
                        <span>PHOG: {{picture.phogScore}}</span><br/>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
