<div>

    <h2 translate="flipperApp.pictureSearch.home.title">PictureSearchs</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="flipperApp.pictureSearch.pictureFile">littlePictureFile</th>
                    <th translate="flipperApp.pictureSearch.created">created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pictureSearch in pictureSearchs">
                    <td>
                        <img data-ng-src="{{'data:image/*;base64,' + pictureSearch.littlePictureFile}}" ng-if="pictureSearch.littlePictureFile"/>
                        {{byteSize(pictureSearch.pictureFile)}}
                    </td>
                    <td>{{pictureSearch.created}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="pictureFound({pictureSearch_id:pictureSearch.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.viewPictures"> View pictures</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
