<div>
    <h2 translate="flipperApp.metadata.home.title">Metadata</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="search metadata" required="true">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search</span>
                    </button>
                </form>
                <div ng-if="searchQuery && !metadatas[0]" translate="flipperApp.metadata.home.notFound">Metadata not found.</div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="flipperApp.metadata.directory">Directory</th>
                    <th translate="flipperApp.metadata.type">Tag Type</th>
                    <th translate="flipperApp.metadata.name">Tag Name</th>
                    <th translate="flipperApp.metadata.description">Description</th>
                    <th translate="flipperApp.metadata.title">Title</th>
                    <th translate="flipperApp.metadata.pictureFile">PictureFile</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="metadata in metadatas">
                    <td>{{metadata.directoryName | characters:10}}</td>
                    <td>{{metadata.tagType}}</td>
                    <td>{{metadata.tagName | characters:20}}</td>
                    <td>{{metadata.description | characters:100}}</td>
                    <td><a ui-sref="metadata.byPicture({picture_id:metadata.picture_id})">{{metadata.title}}</a></td>
                    <td>
                        <img data-ng-src="{{'data:image/*;base64,' + metadata.pictureFile}}" ng-if="metadata.pictureFile"/>
                        {{byteSize(metadata.pictureFile)}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="metadata.detail({id:metadata.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
