
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPictureLabel" translate="flipperApp.picture.home.createLabel">Create a Picture</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="picture.id" readonly>
        </div>

        <div class="form-group">
            <label translate="flipperApp.picture.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="picture.title"
                    required ng-minlength="3" ng-maxlength="100">

            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="flipperApp.picture.description" for="field_description">Description</label>
            <input type="text" rows="3" class="form-control" name="description" id="field_description" ng-model="picture.description">

        </div>
        <div class="form-group" ngf-drop ngf-change="setMyPictureFile($files, picture)" ngf-accept="'image/*'">
            <label translate="flipperApp.picture.pictureFile" for="field_pictureFile">PictureFile</label>
            <div>
                <img data-ng-src="{{'data:image/*;base64,' + picture.pictureFile}}" style="max-height: 100px;" ng-if="picture.pictureFile"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{byteSize(picture.pictureFile)}}</span>
                    <button ng-click="picture.pictureFile=null"
                            ng-if="picture.pictureFile"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setMyPictureFile($files, picture)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="pictureFile" id="field_pictureFile"
                   ng-model="picture.pictureFile" required>

            <div ng-show="editForm.pictureFile.$invalid">
                <p class="help-block"
                   ng-show="editForm.pictureFile.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
